<h1>
  Actor #<%= @the_actor.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_actor.image %>">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @the_actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @the_actor.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% @the_actor.characters.each do |a_character| %>
    <tr>
      <td>
        <%= a_character.movie.title %>
      </td>

      <td>
        <%= a_character.movie.year %>
      </td>

      <td>
        <%= a_character.movie.director.name %>
      </td>

      <td>
        <%= a_character.name %>
      </td>

      <td>
        <a href="/movies/<%= a_character.movie.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
